body{
    display: grid;
    margin: 0;
}

header{
    display:flex ;
    flex-direction: column;
    max-width: 100%;
    background-image: url('Header Background.png') ;
    background-size: cover;
}

h1{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

h2{font-family: Open Sans;
    font-size: 2rem;
    text-align: left;
    

}
p{
    color:rgba(255, 255, 255, 1) ;
    text-align: center;
}

ul {
    display: flex;
    text-align: center;
    gap: 16px;
    align-self: center;
    list-style-type: none;

}

.primeira{
    display: flex;
    max-width: 100%;
}